{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <!-- BREADCRUMB
    ================================================== -->
    <nav class="breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Heading -->
                    <h5 class="breadcrumb-heading">
                        Ayuda
                    </h5>

                </div>
                <div class="col-auto">

                    <!-- Breadcrumb -->
                    <span class="breadcrumb-item">
              <span class="text-primary">Home</span>
            </span>
                    <span class="breadcrumb-item active">
              Ayuda
            </span>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </nav>

    <!-- FAQ
    ================================================== -->
    <section class="section pb-0">

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                    <!-- Title -->
                    <h6 class="title">
                        Condiciones de uso
                    </h6>

                </div>
                <div class="col-md-10">
                    <!-- FAQ -->
                    <div class="faq">

                        <!-- Item -->
                        <div class="faq-item">

                            <!-- Heading -->
                            <a href="#faq-item-content-1" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-1" aria-expanded="false" role="button">
                                Términos y condiciones de Vitalcen
                            </a>

                            <!-- Content -->
                            <div class="faq-item-content collapse" id="faq-item-content-1">
                                <div class="faq-item-content-inner">
                                    <p class="mb-0">
                                        El usuario al utilizar la web acepta las presentes condiciones generales y se
                                        compromete a utilizar la página web, los servicios y los contenidos alojados
                                        de conformidad con las mismas. El usuario acepta que el uso de la web,
                                        de los servicios y los contenidos lo realiza bajo su única y exclusiva responsabilidad.                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Item -->
                        <div class="faq-item">

                            <!-- Heading -->
                            <a href="#faq-item-content-2" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-2" aria-expanded="false" role="button">
                                Modificación de las presentes condiciones
                            </a>

                            <!-- Content -->
                            <div class="faq-item-content collapse" id="faq-item-content-2">
                                <div class="faq-item-content-inner">
                                    <p class="mb-0">
                                        Vitalcen se reserva el derecho de efectuar, sin previo aviso,
                                        las modificaciones que considere oportunas en las presentes Condiciones de Uso,
                                        obligándose los usuarios a leer las mismas con atención,
                                        cada vez que deseen utilizar la página web.
                                    </p>
                                    <p></p>
                                    <p class="mb-0">
                                        Vitalcen reserva el derecho a denegar o retirar
                                        el acceso a la Página y/o a los servicios, en cualquier momento y sin necesidad de
                                        preaviso a los usuarios que incumplan estas Condiciones Generales
                                        o las Particulares que les sean de aplicación.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Item -->
                        <div class="faq-item">

                            <!-- Heading -->
                            <a href="#faq-item-content-3" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-3" aria-expanded="false" role="button">
                                Responsabilidad por daños y perjuicios
                            </a>

                            <!-- Content -->
                            <div class="faq-item-content collapse" id="faq-item-content-3">
                                <div class="faq-item-content-inner">
                                    <p class="mb-0">
                                        Los Usuarios responderán de los daños y perjuicios de toda naturaleza que
                                        Vitalcen pueda sufrir, directa o indirectamente, como consecuencia de
                                        incumplimiento de cualquiera de las obligaciones derivadas de las Condiciones Generales y,
                                        en su caso, de las Condiciones Particulares o de la Ley,
                                        en relación con la utilización de la Página.
                                        Así como de los ocasionados por el mal uso o por la
                                        reproducción total o parcial, no autorizada expresamente por escrito,
                                        para cualquier finalidad.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Item -->
                        <div class="faq-item">

                            <!-- Heading -->
                            <a href="#faq-item-content-4" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-4" aria-expanded="false" role="button">
                                Seguridad en la utilización de la Página y de los servicios
                            </a>

                            <!-- Content -->
                            <div class="faq-item-content collapse" id="faq-item-content-4">
                                <div class="faq-item-content-inner">
                                    <p class="mb-0">
                                        Vitalcen no garantiza la seguridad de la utilización de la Página y de los servicios y,
                                        en particular, no garantiza que terceros no autorizados no puedan tener
                                        conocimiento de la clase, condiciones, características y circunstancias del uso
                                        que los Usuarios hacen de la Página y de los servicios.
                                    </p>
                                    <p></p>
                                    <p class="mb-0">
                                        Vitalcen excluye toda responsabilidad por los daños y perjuicios de toda naturaleza que
                                        pudieran deberse al conocimiento que puedan tener terceros no autorizados de la clase,
                                        condiciones, características y circunstancias del uso que los usuarios hacen de la página
                                        y de los servicios.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Item -->
                        <div class="faq-item">

                            <!-- Heading -->
                            <a href="#faq-item-content-5" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-5" aria-expanded="false" role="button">
                                Duración y terminación.
                            </a>

                            <!-- Content -->
                            <div class="faq-item-content collapse" id="faq-item-content-5">
                                <div class="faq-item-content-inner">
                                    <p class="mb-0">
                                        La prestación del servicio de la Página y de los demás servicios tiene, en principio,
                                        una duración indefinida. Vitalcen, no obstante, está autorizada para dar por terminada
                                        o suspender la prestación del servicio de la Página y/o de cualquiera de los servicios
                                        en cualquier momento, sin perjuicio de lo que se hubiere dispuesto al respecto en las
                                        correspondientes Condiciones Particulares.
                                        Cuando ello sea razonablemente posible, Vitalcen advertirá previamente la terminación
                                        o suspensión de la prestación del servicio de la Página y de los demás servicios.                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Item -->
                        <div class="faq-item">

                            <!-- Heading -->
                            <a href="#faq-item-content-6" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-6" aria-expanded="false" role="button">
                                Aceptación de las presentes Condiciones Generales
                            </a>

                            <!-- Content -->
                            <div class="faq-item-content collapse" id="faq-item-content-6">
                                <div class="faq-item-content-inner">
                                    <p class="mb-0">
                                        La aceptación de las presentes Condiciones Generales por parte de los Usuarios
                                        es condición previa indispensable y obligatoria para, en su caso,
                                        poderse beneficiar de los servicios en la misma contenidos.
                                        Los Usuarios declaran, bajo su responsabilidad, haber leído las presentes
                                        Condiciones Generales de Acceso y Uso de la Página íntegramente,
                                        y su confirman su aceptación plena y voluntaria de las mismas.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->

    </section>

    <!-- LINKS
    ================================================== -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                    <!-- Title -->
                    <h6 class="title">
                        Política de privacidad
                    </h6>

                </div>
                <div class="col-md-10">

                    <!-- Heading -->
                    <h3 class="mb-4">
                        Política de privacidad y cookies de Vitalcen
                    </h3>

                    <!-- Subheading -->
                    <p class="text-muted mb-5">
                        Esta página web utiliza servicios de terceros para recopilar información con fines estadísticos y
                        de uso de la web. En concreto, Cookies propias, Cookies de terceros, de sesión y activas para fines
                        de Análisis, Personalización, de Marketing y Técnicos.
                    </p>
                    <p class="text-muted mb-5">
                        La siguiente información de los tipos de cookies que contiene esta página ayuda a comprender mejor
                        las funciones que hacen posible:
                    </p>
                    <p class="text-muted mb-5">
                        Según el tiempo de permanencia en el navegador, se dividen en:
                    </p>
                    <p class="text-muted mb-5">
                        Cookies de sesión: Son cookies temporales que permanecen en el espacio de cookies de
                        su equipo hasta que cierra el navegador, por lo que ninguna queda registrada
                        en el disco del usuario. La información obtenida por medio de estas cookies
                        sirve para hacer posible la gestión operativa con cada uno de los usuarios
                        que está accediendo de forma simultánea a la web.
                    </p>
                    <p class="text-muted mb-5">
                        Cookies persistentes: Son cookies que permanecen almacenadas en el espacio de cookies de su
                        equipo una vez cerrado el navegador, y que volverá a consultar dicha página web la
                        próxima vez que acceda a ella para recordar información que facilite la
                        navegación (acceder directamente al servicio sin necesidad de hacer el proceso de login)
                        o la prestación de un servicio comercial
                        (ofrecer aquellos productos o servicios relacionados con anteriores visitas).
                    </p>
                    <p class="text-muted mb-5">
                        Además, las cookies intercambiadas al navegar por una página web pueden ser:
                    </p>
                    <p class="text-muted mb-5">
                        Cookies de origen o propias: Son cookies generadas por la propia página web que se está visitando.
                    </p>
                    <p class="text-muted mb-5">
                        Cookies de terceros: Son cookies que se reciben al navegar por esa página web,
                        pero que han sido generadas por un tercer servicio que se encuentra hospedado en ella.
                        Un ejemplo puede ser la cookie empleada por un anuncio o banner de publicidad que se
                        encuentra en la página web que visitamos.
                        Otro puede ser la cookie empleada por un contador de visitantes contratado por la
                        página web que visitamos.
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    {% include 'footer.html' %}

{% endblock %}