{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/ico/apple-touch-icon.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "assets/ico/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "assets/ico/favicon-16x16.png" %}'>
    <link rel="manifest" href='{% static "assets/ico/site.webmanifest" %}'>
    <link rel="mask-icon" href='{% static "assets/ico/safari-pinned-tab.svg" %}' color="#5bbad5">
    <link rel="shortcut icon" href='{% static "assets/ico/favicon.ico" %}'>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content='{% static "assets/ico/browserconfig.xml" %}'>
    <meta name="theme-color" content="#ffffff">

    {% block styles %}{% endblock %}

    <!-- Plugins CSS -->
    <link rel="stylesheet" href='{% static "assets/libs/flickity/dist/flickity.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/libs/flickity-fade/flickity-fade.css" %}'>
    <link rel="stylesheet" href='{% static "assets/libs/fullpage.js/dist/fullpage.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/libs/highlightjs/styles/codepen-embed.css" %}'>
    <link rel="stylesheet" href='{% static "assets/libs/@fortawesome/fontawesome-free/css/all.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/libs/incline-icons/style.min.css" %}'>

    <!-- Theme CSS -->
    <link rel="stylesheet" href='{% static "assets/css/theme.min.css" %}'>

    <title>{% block title %}Vitalcen{% endblock %}</title>
</head>
<body>
{% block content %}

{% endblock %}

<!-- JAVASCRIPT
    ================================================== -->
<!-- Global JS -->
<script src='{% static "assets/libs/jquery/dist/jquery.min.js" %}'></script>

<!-- Plugins JS -->
<script src='{% static "assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "assets/libs/flickity/dist/flickity.pkgd.min.js" %}'></script>
<script src='{% static "assets/libs/flickity-fade/flickity-fade.js" %}'></script>
<script src='{% static "assets/libs/jquery-parallax.js/parallax.min.js" %}'></script>
<script src='{% static "assets/libs/waypoints/lib/jquery.waypoints.min.js" %}'></script>
<script src='{% static "assets/libs/waypoints/lib/shortcuts/inview.min.js" %}'></script>
<script src='{% static "assets/libs/fullpage.js/vendors/scrolloverflow.min.js" %}'></script>
<script src='{% static "assets/libs/fullpage.js/dist/fullpage.min.js" %}'></script>
<script src='{% static "assets/libs/highlightjs/highlight.pack.min.js" %}'></script>

<!-- Theme JS -->
<script src={% static "assets/js/theme.min.js" %}></script>

{% block script %}{% endblock %}

</body>
</html>